@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #FFF8F5;
  color: #4A192C;
}

.font-serif-italic {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}